@keyframes delete  {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    85% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 1px 0px;
    margin: 0px 1px 1px 0px;
    min-height: 1000px;
    background: #dededef4;
}

.header{
    color: #fff;
    margin: 0px 0px 1rem 0rem;
    border-radius: 10px;
    
    background: linear-gradient(to top,#000000 0%, #000000 75%, #676767 100%);
    border-color: #d0d0d2;
    opacity:100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    transition: all 250ms ease-in-out;
    width: 100%;
}

.scroll-down header{
    transform: translate3d(0, -100%, 0);
} 

h1{
    margin: 5px;
}

#countrySearch{
    font-size: 22px;
    width: 30%;
    margin: 0.5rem 0 1rem;
    padding: 1px;
}

#submit{
    width: 7rem;
    color: #203339;
}
  
